wiki.sponsor.ajay.app {
    @index_url {
        path_regexp ^/index.php/(.*)$
    }

    @notblacklisted {
        not {
            header_regexp User-Agent mj12bot
        }
    }

    rewrite @index_url /w/{1}
    reverse_proxy @notblacklisted mediawiki:80
}
